*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
  font-family:verdana;
    font-size:20px;
    color:black;
    text-shadow: 1px  0px 0px white,
                 0px  1px 0px black,
                -1px  0px 0px black,
                 0px -1px 0px black;
}

p{
  border: 1px solid white;
  font-family: arial;
  font-size: medium;
  line-height: 25px;
  background-color: white;
  
}
nav{
    max-width: 900px;
      margin: auto;
      font-size: 20px;
      margin-top: 50px; 
  }
  .central{
    text-align: justify;
    font-family: arial;
    margin: 100px auto;
    padding: 50px;
    width: 1000px;
    height: 1800px;
    text-decoration-color: white;
}

img
{
    width: 600px;
    height: 400px;
}
body{
  background-image: url(../rec/fondo.jpg);
  background-repeat: repeat-y;
}